.icon{
  display: none;
  z-index: 999;
}
.dd{
  position: absolute;
  top:70px;
  right: 20px;
  z-index: 999;
  width: 80px;
  background-color: #8b2b2b;
  height:auto;
  
}
.dd a{
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  color: white;
  text-decoration: none;
 
}
.dd a:hover{
  background-color: #642828;
}
@media screen and (max-width: 600px) {
nav ul :not(:last-child){
  display: none;
}
nav{
  justify-content: end;
}
.icon{
  position: relative;
  display: flex;
}

.dd.show{
  display: unset;
  z-index: 999;
}}
.sidenav{
  top: 100px;
}
.konten16{
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
 
}
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');



#i1, #i2, #i3, #i4, #i5{ display: none;}

.container{
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		width: 60%;
		height: 400px;
		padding-bottom: 38%;
	  user-select: none;
		background-color: #000000;
		border-radius:10px ; 
	}

	.container .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
    
	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
    border-radius:10px ; 
    opacity: 0.5;

	}
  .slide_img h1{
    position: absolute;
    top: 3%;
    left: 4%;
    color: rgb(255, 255, 255);
    font-size: 4vw;
    z-index: 5;

  }

  .slide_img p{
    border-radius: 6px;
    padding: 10px 10px;
    background-color: rgba(74, 74, 74, 0.329);
    position: absolute;
    width: 60%;
    top: 16%;
    left: 3%;
    color: rgba(222, 220, 220, 0.958);
    font-size: 1.7vw;
    z-index: 5;
  }
	 .prev, .next{
    transition: .45s;
		cursor: pointer;
		text-align: center;
		width: 12%;
		height: inherit;
		position: absolute;
		top:0; 
		color:rgba(244, 244, 244, 0.396);
		z-index: 99;
		
	}

	.next{right:-98px;}
	.prev{left:-150px;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		color: #8b2b2b; 
	}

.container #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #8b2b2b;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 3s ease-in-out; transition-property: clip-path;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #8b2b2b;}

@keyframes scroll{
	0%{	opacity:0;
    clip-path: circle(0 at 0 50%);}
	100%{opacity:1;clip-path: circle(150% at 0% 50%);}
}		
.konten16 .teks{
  position: relative;
  z-index: 10;
  left:  34%;
  width: 50%;
  bottom: 12%;
  
}

.konten16 .teks h1{
  text-align: end;
font-size: 4vw;
color: #8b2b2b;
text-shadow: 0px 0px 10px hsl(0, 0%, 0%),
1px 1px 0 #000000,
1px -1px 0 #000000,
-1px -1px 0 #000000;
}

/* .yt{
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
	width: 150px;
	height:50px;
	border: outset #2c2c2c 4px;
	border-radius: 10px;
	text-align: center;
	font-size: 30pt;
	transition: .5s;
}

.yt a{
	text-decoration: none;
	color: #4c4c4c;
	transition: .5s;
}

.yt:hover{
	background: #4c4c4c;
	transition: .3s;
}

.yt:hover a{
	color: #fff;
	transition: .3s;
}
 */
@media screen and (max-width: 685px){
	.container{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%; 
	}	
	
	label span { font-size: 50pt; }
	
	.prev, .next{
		width: 15%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}














/* TTTTTTTTTTTTTTTTTTTTTTTTTABLETTTTTTTTTTTTTTTTT */

@media screen and (max-width: 768px) {
  .follow{
    display: none;
  }
body{

}

  .tombol,.sidebar{
    display: none;
  }
.konten1{
  opacity: 1;
}

  .asap1,.asap2,.asap3,.asap{
    object-fit: cover;
    max-height: 50vh;
    max-width: 100%;
    animation: aa ;
  }
  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 25px;
  
  
  }
 .sidenav{
    height: 50px;
    width: 40px;
    padding-top: 100px;
  }
  .nav-content .toggle-btn,
  .nav-content span a
  {
      height: 37px;
      width: 37px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  .sidenav.open .nav-content span
  {
    transform: rotate(calc(var(--i) * (54deg))) translateY(55px);
    opacity: 1;
  }
  .nav-content .toggle-btn,
  .nav-content span a
  {font-size: 20px;
  
  }
  .asap1,.asap2,.asap3,.asap{
    max-height: 10vh;
    max-width: 100%;
  }

  .judul.munculJudul img{
    top: 15vh;
    position: relative;
    height:70vh;
  }
.banner, .blok1{
    height: 250vh;
    overflow: hidden;
   
}
.trans1{
    bottom:  45px;
}
.konten{
  height: 10vh;
}
.intro{
  height: 0;
  display: none;
overflow: hidden;
}
.konten11 .ucul {
  position: relative;
  left: 1%;

  }

#peternak2{
    max-width: 50%;
    max-height: 70vh;
}
.konten6{
    height: 300vh;
}

.ikan img{
    width:50%;
}

.konten5 .teks{
    position: relative;
    top: 30%;
    align-items: start;
}
.konten7{
    height: 20vh;
}
    .konten3,.konten4,.konten5,.konten6,.konten7,.konten8{
 height: auto;
  
    }
.perang{
  margin-top: 20px;
}
.page2{
height: 100px;

}
.page2 .story .a,.page2 .story .b{
  transform: translateX(0px) ;
  top: 0px;
  opacity: 1;
}
.banner{
  height:170vh;
}

.story-2{
  bottom: 100px;
 
}
.page2 .story p{
  font-size: 10px;
  width: 210px;
}
.page2 .story .a{position: relative;
  left: 11%;
}
.page2 .pic2{
  position: relative;
  left: 10px;
}
.page2 .pic2 img{
  height: 300px;

}
    .wadahternak{
      height: 250px;
    }
    .cerita{
      height: 20vh;
    }

    .konten2{
height: 200px;
    }

#peternak2{
  height: 40vh;
}
.konten2 .b{
  height: 100px;
  right: 5%;
}
.konten3{
  height: 200px;
  opacity: 1;
}

.konten3 .text{
  height: 50px;
}

.konten4{
  height: 200px;
}
.salam{
  height: 200px;
  opacity: 1;
}
.konten4 .a .teks{
  right: 10px;
  left: 20px;
}

.konten5{
}
.konten5 .mancing{opacity: 1;}
.konten5 .mancing.muncul{opacity: 1;}
.konten5 .teks{

  right: 3px;
top: 100px;
}
.konten6.hilang{
 opacity:1;
 transition: 1s;
}
.iwak{
 opacity: 1;
}
.konten6{
 height: 250px;
}
.konten7{
  height: 200px;
 
}
.konten7 .bakar{opacity: 1;}
.bakar2{
 opacity: 1;
}
.konten7 .teks p{
  left: 20px;
}

.konten8{
  height: 250px;
  opacity: 1;
}
.konten8 .teks{
  height: 50px;
}

.konten9{
  height: 200px;
  opacity: 1;
}

.konten10{
  opacity: 1;
  height: 100px;
  width: 200px;

}
.sapu{
  width: 100px;
}
#sapu{
 opacity: 1;

}
.konten10 .teks{
  top: 10px;
  left: 110px;
  bottom: 20px;

}
.konten10 .teks p{
  width: 100px;
}
.adu{
  height: 700px;
}

.adu .teks{
  height: 100px;
}
.gelud{
opacity: 1;
  height: 400px;
}

.konten11{
  height: 230px;
}
.konten11 .ucul img{
  height: 130px;
}
.konten12{
  height: 200px;
}
.konten12 .teks{
left: 10px;
}
.konten12 .cow img{
  top: 10px;
  height: 200px;
  opacity: 1;
  }
  .konten12 .cow {
   opacity: 1;
   transform: translateY(0)
  }
  .konten12 .teks{
   opacity: 1;
  }
  .konten13{
    background-color: rgb(0, 0, 0);
    height: 400px;
    width: 100%;
  }
  .konten13 .a img{

    object-fit: cover;
    width: 100%;
    height: 300px;
  }

  .konten13 .teks{
    padding-bottom: 300px;
  }
.konten14{
  height: 300px;
}

.konten14 .atas{
  height: 150px;
}
  .yt{
 
    height:200px;
  }

  .yt iframe{
    height: 190px;
    width: 200px;
  }

  .konten15{
    height: 500px;
  }

  .img-slide{
    height: 100px;
    width: 400px;
  
  }
.img-slide .slide img{
  

}
.konten15 .teks{

 left: 130px;
 top: 150px;
}
.kaki{
 height: 50px;
}
.kaki h2{
font-size: 15px;
}
.next{right:0;}
.prev{left:0;}






}





@media screen and (max-width: 300px) {
  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 10px;
 
  }

}








/* ///////////////////////////////////////////HANDHONE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (max-width: 380px) {
*{
  margin: 0;
  padding: 0;
}
.next{right:0;}
.prev{left:0}
.follow{
  display: none;
}
.blok1,.banner{

  overflow-x: hidden;
}
.sidenav{
  height: 50px;
  width: 40px;
  padding-top: 100px;
}
.nav-content .toggle-btn,
.nav-content span a
{
    height: 30px;
    width: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.nav.open .nav-content span
{
  transform: rotate(calc(var(--i) * (54deg))) translateY(40px);
  opacity: 1;
}
.nav-content .toggle-btn,
.nav-content span a
{font-size: 15px;

}

    .asap1,.asap2,.asap3,.asap{
      object-fit: cover;
      max-height: 50vh;
      max-width: 100%;
      animation: aa ;
    }
    nav ul li a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      position: relative;
      font-size: 20px;
   
    }
   
    .tombol,.sidebar{
      display: none;
    }
    .asap1,.asap2,.asap3,.asap{
      max-height: 10vh;
      max-width: 100%;
    }
  .wadahternak{
    height: 110vh;
  }
    .judul.munculJudul img{
      top: 15vh;
      position: relative;
      height:70vh;
    }
    .konten3,.konten4,.konten5,.konten6,.konten7,.konten8{
      height: auto;
       
         }
     .perang{
       margin-top: 20px;
     }
     .page2{
     height: 100px;
     }
     .banner{
       height:170vh;
     }
     .story-2{
       bottom: 100px;
      
     }
     .page2 .story p{
       font-size: 10px;
       width: 210px;
     }
     .page2 .pic2 img{
       height: 300px;
       right: 20px;
     }
         .wadahternak{
           height: 250px;
         
         }
         .cerita{
           height: 20vh;
         }
     
         .konten2{
     height: 200px;
         }
         .sosmed ul li{left: 0;
        padding-left: 5px;}
         .follow{
          right: 0;
          left: 2px;
         }
     #peternak2{
       height: 200px;
       opacity: 1;
     }
     .konten2 .b{
       height: 100px;
       right: 5%;
     }
     .konten3{
       height: 200px;
       opacity: 1;
     }
     
     .konten3 .text{
       height: 50px;
     }
     .salim{
      opacity: 1;
     }
     .konten4{
       height: 200px;
     }
     .salam{
       height: 200px;
       opacity: 1;
     }
     .konten4 .a .teks{
       right: 10px;
       left: 20px;
     }
     
     .konten5{
     }
     .konten5 .mancing{opacity: 1;}
     .konten5 .mancing.muncul{opacity: 1;}
     .konten5 .teks{
     
       right: 3px;
     top: 100px;
     }
     .konten6.hilang{
      opacity:1;
      transition: 1s;
    }
    .iwak{
      opacity: 1;
    }
     .konten6{
      height: 250px;
     }
     .konten7{
       height: 200px;
      
     }
     .konten7 .bakar{opacity: 1;}
     .bakar2{
      opacity: 1;
     }
     .konten7 .teks p{
       left: 20px;
     }
     
     .konten8{
       height: 250px;
       opacity: 1;
     }
     .konten8 .teks{
       height: 50px;
     }
     
     .konten9{
       height: 200px;
       opacity: 1;
     }
     
     .konten10{
       opacity: 1;
       height: 300px;
     }
     #sapu{
      opacity: 1;
     
    }
     
     .adu{
       height: 700px;
     }
     
     .adu .teks{
       height: 100px;
     }
     .gelud{
     opacity: 1;
       height: 400px;
     }
     
     .konten11{
       height: 230px;
     }
     .konten11 .ucul img{
       height: 130px;
     }
     .konten12{
       height: 200px;
     }
     .konten12 .teks{
     left: 10px;
     }
     .konten12 .cow img{
       top: 10px;
       height: 200px;
       opacity: 1;
       }
       .konten12 .cow {
        opacity: 1;
        transform: translateY(0)
       }
       .konten12 .teks{
        opacity: 1;
       }
       .konten13{
         background-color: rgb(0, 0, 0);
         height: 400px;
         width: 100%;
       }
       .konten13 .a img{
     
         object-fit: cover;
         width: 100%;
         height: 300px;
       }
     
       .konten13 .teks{
         padding-bottom: 300px;
       }
     .konten14{
       height: 300px;
     }
    
     .konten14 .atas{
       height: 150px;
     }
       .yt{
      
         height:200px;
       }
     
       .yt iframe{
         height: 190px;
         width: 200px;
       }
     
       .konten15{
         height: 500px;
       }
     
       .img-slide{
         height: 100px;
         width: 400px;
       
       }
     .img-slide .slide img{
       
     
     }
     .videoo iframe{
      top: 80px;
      position: relative;
      left: 9%;
      width: 40%;
      height: 100px;
      opacity: 0.4;
    }
     .konten15 .teks{

      left: 130px;
      top: 150px;
     }
     .videoo{
      height: 100px;
     }
     .konten16{
      height: 300px;
     }
     .next{right:0;}
     .prev{left:0;}
     .kaki{
      height: 50px;
     }
   .kaki h2{
    font-size: 15px;
   }
   .next{right:0;}
   .prev{left:0;}
 
     
      
    }