.nav
{
  position: fixed;
  top: 20px;
  right: 0;
  width: 80px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  z-index: 100;

}

.nav .nav-content
{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
}
.nav-content .toggle-btn,
.nav-content span a
{
    height: 55px;
    width: 55px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.nav-content .toggle-btn
{
  font-size: 26px;
  color: #0e2431;
  z-index: 100;
  cursor: pointer;
  transform: rotate(-225deg);
  transition: all 0.6s ease;
}

.nav.open .toggle-btn
{
  transform: rotate(0deg);
}

.nav-content span
{
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
}

.nav.open .nav-content span
{
  transform: rotate(calc(var(--i) * (54deg))) translateY(90px);
  opacity: 1;
}

.nav-content span a
{font-size: 25px;
  color: #8a2e26;
  text-decoration: none;
  transform: rotate(-22deg);
}


.nav-content span a i
{
  
  color: #8e0005;
  transform: rotate(calc(var(--i) * (360deg/ -8)));
  opacity: 0.8;
  transition: 0.2s;
}

.nav-content span a:hover
{
  opacity: 1;
}


@media (max-width: 320px) {
  .asap1,.asap2,.asap3,.asap{
    object-fit: cover;
    max-height: 50vh;
    max-width: 100%;
    animation: aa ;
  }
  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 20px;
 
  }
  .tombol,.sidebar{
    display: none;
  }
  .asap1,.asap2,.asap3,.asap{
    max-height: 10vh;
    max-width: 100%;
  }
.wadahternak{
  height: 110vh;
}
  .judul.munculJudul img{
    top: 15vh;
    position: relative;
    height:70vh;
  }
.banner, .blok1{
    height: 250vh;
    overflow: hidden;
   
}
.trans1{
    bottom:  30px;
}

.intro .teks{
  color: white;
}
#peternak2{
    max-width: 50%;
    max-height: 70vh;
}
.konten6{
    height: 300vh;
}

.ikan img{
    width:50%;
}

.konten5 .teks{
    position: relative;
    top: 30%;
    align-items: start;
}
.konten7{
    height: 20vh;
}
    .konten2,.konten3,.konten4,.konten5,.konten6,.konten7,.konten8{
  max-height: 50vh;
  
    }
    
  }












@media (max-width: 768px) {
body{
background-color: #8a2e26;
}
  .tombol,.sidebar{
    display: none;
  }
.konten1{
  opacity: 1;
}
  .asap1,.asap2,.asap3,.asap{
    object-fit: cover;
    max-height: 50vh;
    max-width: 100%;
    animation: aa ;
  }
  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 20px;
    
  
  }
  .asap1,.asap2,.asap3,.asap{
    max-height: 10vh;
    max-width: 100%;
  }

  .judul.munculJudul img{
    top: 15vh;
    position: relative;
    height:70vh;
  }
.banner, .blok1{
    height: 250vh;
    overflow: hidden;
   
}
.trans1{
    bottom:  45px;
}
.konten{
  height: 10vh;
}
.intro{
  height: 0;
  display: none;
overflow: hidden;
}
.konten11 .ucul {
  position: relative;
  left: 1%;

  }

#peternak2{
    max-width: 50%;
    max-height: 70vh;
}
.konten6{
    height: 300vh;
}

.ikan img{
    width:50%;
}

.konten5 .teks{
    position: relative;
    top: 30%;
    align-items: start;
}
.konten7{
    height: 20vh;
}
    .konten1,.konten2,.konten3,.konten4,.konten5,.konten6,.konten7,.konten8{
  max-height: 50vh;
  
    }
    
  }